.body__container {
  font-family: "Roboto", "san-serif";
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: rgba(0, 0, 0, 0.8);
}
header .inner {
  width: 1000px;
  margin: auto;
}
header .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}
header .main-menu li {
  /* background-color: #000; */
}
header .main-menu li a {
  display: block;
  padding: 10px;
  color: #d2d2d7;
}
header .main-menu li a:hover {
  color: #f5f5f7;
  transition: 0.5s;
}
header .main-menu li .logo {
  /* background-color: #000; */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 4px;
  margin-bottom: 4px;
}
header .main-menu li .logo a {
  display: block;
  background: url("../img/logo.svg") no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  height: 8px;
  width: 10px;
  text-indent: -9999px;
}
header .main-menu li .logo a:hover {
  background: url("../img/logo.on.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
