.body__container {
  font-family: "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}

/* HEADER */
.inner {
  width: 1000px;
  margin: auto;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
header .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}
header .main-menu li {
}
header .main-menu li a {
  display: block;
  padding: 10px;
  color: #d2d2d7;
}
header .main-menu li a:hover {
  color: #f5f5f7;
  transition: 0.3s;
}
header .main-menu li .logo {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin-left: 10px;
  margin-bottom: 4px;
}
header .main-menu li .logo a {
  display: block;
  background: url("../img/logo.svg") no-repeat;
  background-size: contain;
  background-position: center;
  padding: 5px 1px;
  height: 18px;
  width: 12px;
  text-indent: -9999px;
}
header .main-menu li .logo a:hover {
  background: url("../img/logo.on.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
header .bag {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  height: 300px;
  width: 280px;
  border: 1px solid rgb(185, 185, 190);
  border-radius: 18px;
  z-index: 3;
  background-color: white;
}
header .bag.on {
  display: block;
}
header .bag .bag-menu {
  padding: 10px;
}
header .bag .bag-menu .bag--status {
  height: 80px;
  border: none;
}
header .bag .bag-menu li {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(185, 185, 190);
  height: 40px;
  padding: 0 10px;
}
header .bag .bag-menu li a {
  font-weight: 500;
  color: rgb(35, 129, 255);
}

/* MAIN SECTION */
.section--main {
}
.content-wrapper {
  display: block;
  position: relative;
  height: 600px;
  margin-bottom: 15px;
  background-color: rgb(250, 250, 253);
  /* background-color: tomato; */
}
.content-wrapper .content-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  margin-top: 50px;
}
.content-detail .content-title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 8px;
}
.content-detail .content-title.no-pricing {
  margin-bottom: 14px;
}
.content-detail .content-subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 1.4;
}
.content-detail .content-pricing {
  font-size: 18px;
  color: rgb(125, 125, 130);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 14px;
}
.content-detail .about-link {
  display: flex;
  justify-content: center;
}
.content-detail .about-link a {
  display: block;
  margin: 0 25px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(35, 129, 255);
}
.content-detail .about-link a:hover {
  text-decoration: underline;
}
.content-wrapper.dark {
  background-color: #000;
}
.content-detail.dark {
  color: rgb(242, 242, 245);
}
.content-img-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 600px;
  z-index: 0;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  text-indent: -9999px;
}
.content-wrapper .bg-iphone-12 {
  background-image: url("../img/bg-iphone-12.jpg");
}
.content-wrapper .bg-iphone-12-pro {
  background-image: url("../img/bg-iphone-12-pro.jpg");
}
.content-wrapper .bg-watch-6 {
  background-image: url("../img/bg-watch-6.jpg");
  height: 70%;
}
.section--main .content-wrapper:last-child {
  margin-bottom: 0px;
}
/* GRID SECTION */
.section--grid {
  display: grid;
  grid-template-rows: repeat(3, 600px);
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  row-gap: 15px;
  column-gap: 15px;
}
.section--grid .content-wrapper {
}
.content-wrapper .content-detail.bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  margin-bottom: 25px;
}
.content-img-wrapper.bottom {
  background-position-y: bottom;
}
.content-wrapper .bg-ipad-air {
  background-image: url("../img/grid-ipad-air.jpg");
}
.content-wrapper .bg-fitness {
  background-image: url("../img/grid-fitness.jpg");
}
.content-wrapper .bg-appleone {
  background-image: url("../img/bg-appleone.jpg");
  height: 350px;
}
.content-wrapper .bg-applecard {
  background-image: url("../img/bg-applecard.jpg");
}
.content-wrapper .bg-appletv {
  background-image: url("../img/bg-appletv.jpg");
}
/* FOOTER SECTION */
footer {
  background-color: rgb(242, 242, 245);
}
.detail-info {
  padding: 30px 0 15px;
  border-bottom: 1px solid rgb(200, 199, 206);
}
.detail-info .description {
  margin-bottom: 10px;
  line-height: 1.2;
  font-size: 13px;
  color: rgb(115, 115, 120);
  /* background-color: tomato; */
}
.site-map {
  padding: 0 0 10px;
  display: flex;
  justify-content: space-between;
}
.site-map .column h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
}
.site-map .column a {
  display: block;
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}
